.display-5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
    display: flex;
    align-items: flex-end;
    color: #373A3C; 
    margin-top: 30px;
}

.first{
    display: flex;
    flex-direction: row;
    margin-top: 57px;
}
.text{
    margin: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #373A3C;
}
#user-input{
margin-left: 10px;
margin-right: 20px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 4px;
text-align: center;
width: 10%;
}
#result{
    margin: 10px;
    
    
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

display: flex;
align-items: flex-end;
text-decoration-line: underline;

color: #373A3C; 
}
.btn.btn-primary{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

text-align: center;

color: #FFFFFF;
}
.spinner-border{
    margin-top: 24px;
    margin-left: 20px;
    visibility: hidden;
}
.alert{
    margin-left: 106px;
    width: 270px;
    margin-top: 10px;
    visibility: hidden;
    text-align: center;
}

.display-2{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 72px;
/* identical to box height, or 133% */

display: flex;
align-items: flex-end;

color: #373A3C;

}

#head2{
    display: flex;
    margin-top: 20px;
    
}

.saveCalc{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #373A3C;

}
#theList{
    display: flex;
    flex-direction: column;
    
}

#theList li{
   
    
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 100% */

display: flex;
justify-content: space-around;

color: #373A3C;
font-stretch: 100%;

}
#result-2{
    margin-top: 50px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 100% */

color: #373A3C;
}

/* #theList li hr{
    border: 1px solid #000000;
} */